.file-card {
    border-radius: 8px;
    border: 1px solid var(--lwc-colorBorder);
}

.file-name {
    font-weight: bold;
    font-size: 16px;
}

.file-link {
    color: var(--lwc-colorTextLink);
    font-size: 14px;
}

.expiry-text {
    font-size: 12px;
    color: gray;
}

.password-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.copy-icon {
    cursor: pointer;
}